<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body style="background-image: url('/static/background.jpg');">
    <p><b>Lucy Blumenfield's Python (or html??) final</b></p>
    <img src="/static/python-final-image.jpg" alt="Photo of Me" width="300">
    <p>This is a photo of me, the very same one that's on my ID!</p>
    <p>I'm a freshman and will most likely be majoring in film.</p>
    <p>Check out the rest of my website here:</p>
    <p> <a href="/page2">Quarantine Photoshoots on Instagram</a></p>
    <p> <a href="/page3">Graphic Design</a></p>
    <p>And a link to my portfolio 
        <a href="https://www.lucyellephotography.com">here,</a>
        especially if you've been looking to get some portraits done.</p>
    </body>
</html>

