<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Graphic Design</title>
    <head>
    <body style="background-color:#f8bd92;">
    <p>I've also started to practice more graphic design in quarantine.</p>
    <p>Here's one example in a few different color schemes.</p>
    <img src="/static/sohereweare1.jpg" alt="GD 1" width="350">
    <img src="/static/sohereweare2.jpg" alt="GD 2" width="350">
    <img src="/static/sohereweare3.jpg" alt="GD 3" width="350">
    <p>It uses some lyrics from a song by Bloc Party...</p>
    <iframe src="https://open.spotify.com/embed/track/7dwCUb3OXadzAMWj5tzqyP" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    
      
</html>

